## DataFrames Zeilen und Spalten

In [2]:
import pandas as pd

In [23]:
X = pd.read_csv('autos_full.csv', header=0, encoding='ISO-8859-1')
X.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [4]:
X[0, 0]

KeyError: (0, 0)

In [6]:
M = X.values
type(M)

numpy.ndarray

In [7]:
M[0, 0]

'2016-03-24 11:52:17'

In [8]:
X[0]

KeyError: 0

In [10]:
X['dateCrawled']

0         2016-03-24 11:52:17
1         2016-03-24 10:58:45
2         2016-03-14 12:52:21
3         2016-03-17 16:54:04
4         2016-03-31 17:25:20
5         2016-04-04 17:36:23
6         2016-04-01 20:48:51
7         2016-03-21 18:54:38
8         2016-04-04 23:42:13
9         2016-03-17 10:53:50
10        2016-03-26 19:54:18
11        2016-04-07 10:06:22
12        2016-03-15 22:49:09
13        2016-03-21 21:37:40
14        2016-03-21 12:57:01
15        2016-03-11 21:39:15
16        2016-04-01 12:46:46
17        2016-03-20 10:25:19
18        2016-03-23 15:48:05
19        2016-04-01 22:55:47
20        2016-04-01 19:56:48
21        2016-03-27 11:38:00
22        2016-03-23 14:52:51
23        2016-03-12 19:43:07
24        2016-03-13 20:40:49
25        2016-03-18 21:44:09
26        2016-03-10 19:38:18
27        2016-03-07 12:51:23
28        2016-03-09 11:56:38
29        2016-03-08 19:55:19
                 ...
371498    2016-03-11 15:50:38
371499    2016-03-08 13:52:00
371500    2016-03-21 23:40:49
371501    2016-03-26 18:36:54
371502    2016-04-01 12:59:21
371503    2016-04-01 01:55:58
371504    2016-03-07 17:06:35
371505    2016-04-03 19:56:57
371506    2016-03-20 18:47:59
371507    2016-03-16 17:06:19
371508    2016-04-02 16:43:27
371509    2016-03-11 23:40:32
371510    2016-03-06 21:11:23
371511    2016-03-31 18:50:37
371512    2016-03-25 18:48:06
371513    2016-03-21 15:36:22
371514    2016-04-04 11:45:16
371515    2016-03-09 11:36:55
371516    2016-04-04 09:57:12
371517    2016-03-28 13:48:07
371518    2016-04-02 20:37:03
371519    2016-03-09 13:37:43
371520    2016-03-19 19:53:49
371521    2016-03-27 20:36:20
371522    2016-03-21 09:50:58
371523    2016-03-14 17:48:27
371524    2016-03-05 19:56:21
371525    2016-03-19 18:57:12
371526    2016-03-20 19:41:08
371527    2016-03-07 19:39:19
Name: dateCrawled, Length: 371528, dtype: object

In [11]:
type(X['dateCrawled'])

pandas.core.series.Series

In [15]:
X.iloc[0]

dateCrawled            2016-03-24 11:52:17
name                            Golf_3_1.6
seller                              privat
offerType                          Angebot
price                                  480
abtest                                test
vehicleType                            NaN
yearOfRegistration                    1993
gearbox                            manuell
powerPS                                  0
model                                 golf
kilometer                           150000
monthOfRegistration                      0
fuelType                            benzin
brand                           volkswagen
notRepairedDamage                      NaN
dateCreated            2016-03-24 00:00:00
nrOfPictures                             0
postalCode                           70435
lastSeen               2016-04-07 03:16:57
Name: 0, dtype: object

In [17]:
X[['dateCrawled', 'price']]

                dateCrawled  price
0       2016-03-24 11:52:17    480
1       2016-03-24 10:58:45  18300
2       2016-03-14 12:52:21   9800
3       2016-03-17 16:54:04   1500
4       2016-03-31 17:25:20   3600
5       2016-04-04 17:36:23    650
6       2016-04-01 20:48:51   2200
7       2016-03-21 18:54:38      0
8       2016-04-04 23:42:13  14500
9       2016-03-17 10:53:50    999
10      2016-03-26 19:54:18   2000
11      2016-04-07 10:06:22   2799
12      2016-03-15 22:49:09    999
13      2016-03-21 21:37:40   2500
14      2016-03-21 12:57:01  17999
15      2016-03-11 21:39:15    450
16      2016-04-01 12:46:46    300
17      2016-03-20 10:25:19   1750
18      2016-03-23 15:48:05   7550
19      2016-04-01 22:55:47   1850
20      2016-04-01 19:56:48  10400
21      2016-03-27 11:38:00   3699
22      2016-03-23 14:52:51   2900
23      2016-03-12 19:43:07    450
24      2016-03-13 20:40:49    500
25      2016-03-18 21:44:09   2500
26      2016-03-10 19:38:18   5555
27      2016-03-07 12:51:23   6900
28      2016-03-09 11:56:38   1990
29      2016-03-08 19:55:19    690
...                     ...    ...
371498  2016-03-11 15:50:38    699
371499  2016-03-08 13:52:00    600
371500  2016-03-21 23:40:49  20400
371501  2016-03-26 18:36:54   3900
371502  2016-04-01 12:59:21   1600
371503  2016-04-01 01:55:58   1700
371504  2016-03-07 17:06:35   2600
371505  2016-04-03 19:56:57    800
371506  2016-03-20 18:47:59   5900
371507  2016-03-16 17:06:19   5999
371508  2016-04-02 16:43:27   1400
371509  2016-03-11 23:40:32   1900
371510  2016-03-06 21:11:23   6500
371511  2016-03-31 18:50:37   1999
371512  2016-03-25 18:48:06   5000
371513  2016-03-21 15:36:22   4400
371514  2016-04-04 11:45:16    999
371515  2016-03-09 11:36:55   1690
371516  2016-04-04 09:57:12   1490
371517  2016-03-28 13:48:07   7900
371518  2016-04-02 20:37:03   3999
371519  2016-03-09 13:37:43   5250
371520  2016-03-19 19:53:49   3200
371521  2016-03-27 20:36:20   1150
371522  2016-03-21 09:50:58      0
371523  2016-03-14 17:48:27   2200
371524  2016-03-05 19:56:21   1199
371525  2016-03-19 18:57:12   9200
371526  2016-03-20 19:41:08   3400
371527  2016-03-07 19:39:19  28990

[371528 rows x 2 columns]

In [18]:
X[ X['price'] > 5000]

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
14,2016-03-21 12:57:01,Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...,privat,Angebot,17999,control,suv,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42
18,2016-03-23 15:48:05,Ford_C_MAX_2.0_TDCi_DPF_Titanium,privat,Angebot,7550,test,bus,2007,manuell,136,c_max,150000,6,diesel,ford,nein,2016-03-23 00:00:00,0,88361,2016-04-05 18:45:11
20,2016-04-01 19:56:48,Volkswagen_Scirocco_1.4_TSI_Sport,privat,Angebot,10400,control,coupe,2009,manuell,160,scirocco,100000,4,benzin,volkswagen,nein,2016-04-01 00:00:00,0,75365,2016-04-05 16:45:49
26,2016-03-10 19:38:18,Citroen_C4_Grand_Picasso.,privat,Angebot,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein,2016-03-10 00:00:00,0,31139,2016-03-16 09:16:46
27,2016-03-07 12:51:23,Honda_Civic_1.4_i_VTEC_Comfort,privat,Angebot,6900,test,limousine,2008,manuell,99,civic,60000,11,benzin,honda,nein,2016-03-07 00:00:00,0,12621,2016-03-26 09:44:53
33,2016-03-25 21:48:47,BMW_325i_Aut.,privat,Angebot,18000,test,limousine,2007,automatik,218,3er,20000,5,benzin,bmw,nein,2016-03-25 00:00:00,0,39179,2016-04-07 04:45:21
38,2016-04-01 17:45:07,Abschleppwagen_Vw_LT_195.000_gruene_Plakette_T...,privat,Angebot,11900,test,andere,2002,manuell,129,andere,150000,11,diesel,volkswagen,nein,2016-04-01 00:00:00,0,10551,2016-04-05 12:47:30
41,2016-03-30 20:38:20,E_500_Avantgarde_AMG_Ausstattung,privat,Angebot,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN,2016-03-30 00:00:00,0,33649,2016-04-03 11:44:49
42,2016-03-24 00:52:09,BMW_E60_530XD,privat,Angebot,12500,test,limousine,2006,automatik,231,5er,150000,11,diesel,bmw,NaN,2016-03-23 00:00:00,0,46119,2016-04-04 16:18:19
43,2016-03-13 15:47:08,Mini_One_Pepper_Scheckheftgepflegt,privat,Angebot,6990,test,limousine,2007,manuell,95,one,100000,8,benzin,mini,nein,2016-03-13 00:00:00,0,59174,2016-03-21 17:17:50
46,2016-03-15 18:59:02,BMW_120d_DPF,privat,Angebot,7999,control,limousine,2007,manuell,177,1er,150000,8,diesel,bmw,nein,2016-03-15 00:00:00,0,53604,2016-03-16 16:47:48
48,2016-03-25 14:40:12,VW_Golf_6___Klima___Alu___Scheckheft_!!!,privat,Angebot,7750,control,NaN,2017,manuell,80,golf,100000,1,benzin,volkswagen,NaN,2016-03-25 00:00:00,0,48499,2016-03-31 21:47:44
49,2016-04-04 14:06:22,Mercedes_Benz_B180_Automatik,privat,Angebot,13500,test,bus,2012,automatik,109,b_klasse,150000,7,diesel,mercedes_benz,nein,2016-04-04 00:00:00,0,35576,2016-04-05 12:09:29
50,2016-03-30 08:50:37,BMW_120i_Cabrio_mit_M_Paket,privat,Angebot,14800,control,cabrio,2008,manuell,170,1er,125000,4,benzin,bmw,NaN,2016-03-30 00:00:00,0,48691,2016-04-07 00:17:23
53,2016-03-29 18:53:48,Bmw_318_d_Sport_Edition_Facelift,privat,Angebot,7999,control,limousine,2008,automatik,143,3er,150000,12,diesel,bmw,NaN,2016-03-29 00:00:00,0,71083,2016-04-06 04:45:54
56,2016-03-21 01:59:07,BMW_435i_Sport_coupe,privat,Angebot,39600,test,coupe,2014,automatik,306,andere,30000,7,benzin,bmw,nein,2016-03-21 00:00:00,0,10435,2016-04-03 23:16:31
62,2016-03-25 19:44:06,Audi_A8_3.0_TDI_quattro,privat,Angebot,7499,test,limousine,2004,automatik,232,a8,150000,3,diesel,audi,ja,2016-03-25 00:00:00,0,71711,2016-04-07 01:44:24
63,2016-03-30 12:49:54,Skoda_Fabia_1.2,privat,Angebot,5500,control,kleinwagen,2010,manuell,60,fabia,70000,4,benzin,skoda,nein,2016-03-30 00:00:00,0,57076,2016-04-07 03:44:51
64,2016-03-08 12:54:47,Volkswagen_Jetta_1.9_TDI_DSG_DPF_Sportline,privat,Angebot,7000,test,limousine,2006,automatik,105,jetta,100000,10,diesel,volkswagen,nein,2016-03-08 00:00:00,0,6242,2016-03-11 17:16:18
65,2016-03-07 22:36:54,BMW_325_i_Cabrio_wenig_Kilometer,privat,Angebot,14999,test,cabrio,2007,manuell,218,3er,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,1129,2016-03-15 10:17:59
66,2016-03-28 17:41:27,Opel_Astra_1.4_mit_vielen_Extras!!!!,privat,Angebot,10900,test,NaN,2017,manuell,101,astra,50000,3,NaN,opel,nein,2016-03-28 00:00:00,0,63607,2016-04-06 23:15:52
67,2016-03-15 14:50:24,Volkswagen_Scirocco_1.4_TSI___Top_Zustand_!!!!,privat,Angebot,9700,test,coupe,2008,manuell,160,scirocco,150000,8,benzin,volkswagen,nein,2016-03-15 00:00:00,0,55218,2016-04-06 04:17:09
74,2016-03-22 17:45:41,Mercedes_Benz_C_180_T_Kompressor_Avantgarde,privat,Angebot,7999,control,kombi,2008,manuell,156,c_klasse,150000,10,benzin,mercedes_benz,nein,2016-03-22 00:00:00,0,83355,2016-03-25 09:47:43
75,2016-03-31 18:46:36,VW_Golf_V_Plus_TDI_1_8,privat,Angebot,6600,control,limousine,2006,manuell,105,golf,150000,10,diesel,volkswagen,nein,2016-03-31 00:00:00,0,41812,2016-03-31 18:46:36
76,2016-03-17 09:48:12,Nissan_Micra_1.2_CVT,privat,Angebot,7999,test,kleinwagen,2013,manuell,80,micra,40000,4,benzin,nissan,nein,2016-03-17 00:00:00,0,46145,2016-04-06 07:44:23
80,2016-03-11 23:42:53,Mercedes_Benz_E_250_CDI_Mod.2011_Automatik_NAV...,privat,Angebot,20300,test,limousine,2010,automatik,204,e_klasse,80000,12,diesel,mercedes_benz,nein,2016-03-11 00:00:00,0,51491,2016-04-03 01:26:23
87,2016-03-29 14:58:15,Volvo_XC90_AWD_D5_Kinetic_Leder_Standheizung_A...,privat,Angebot,8000,test,suv,2005,manuell,185,xc_reihe,150000,8,diesel,volvo,NaN,2016-03-29 00:00:00,0,96472,2016-04-03 23:18:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371433,2016-03-11 11:59:21,Hyundai_ix35_1.7_CRDi_2WD_Fifa_World_Cup_Edition,privat,Angebot,16500,control,suv,2013,manuell,116,i_reihe,30000,9,diesel,hyundai,nein,2016-03-11 00:00:00,0,76297,2016-04-07 06:16:09
371435,2016-03-31 23:40:50,BMW_525d_Sport_Aut.,privat,Angebot,21499,control,limousine,2011,automatik,204,5er,150000,2,diesel,bmw,nein,2016-03-31 00:00:00,0,50668,2016-04-06 19:45:37
371436,2016-03-07 05:58:24,BMW_e34_540iA_Liebhaberfzg.,privat,Angebot,6500,test,limousine,1993,automatik,286,5er,150000,1,benzin,bmw,nein,2016-03-07 00:00:00,0,81249,2016-04-05 15:17:12
371438,2016-03-22 09:51:42,Peugeot_3008_VTI_120_Premium_Panorama,privat,Angebot,7500,test,andere,2009,manuell,120,3_reihe,100000,12,benzin,peugeot,nein,2016-03-22 00:00:00,0,53844,2016-03-22 10:41:49
371441,2016-03-21 20:44:38,BMW_E9_Coupe_Restaurationsobjekt,privat,Angebot,16500,control,coupe,1973,manuell,200,andere,150000,6,benzin,bmw,ja,2016-03-21 00:00:00,0,74722,2016-04-06 19:16:32
371454,2016-03-12 17:59:23,Audi_A_6_S_line_.kombi__6_Gang.2_5__Diesel_.__...,privat,Angebot,5800,test,kombi,2003,manuell,168,a6,150000,4,diesel,audi,NaN,2016-03-12 00:00:00,0,85235,2016-03-12 18:41:28
371455,2016-03-26 16:46:25,Volkswagen_Golf_VI_1.4__Klima_AHK__8_fach_bereift,privat,Angebot,8940,control,limousine,2009,manuell,80,golf,60000,8,benzin,volkswagen,nein,2016-03-26 00:00:00,0,27299,2016-04-06 05:16:14
371456,2016-03-25 23:41:50,Audi_A6_Avant_3.0_TDI_DPF_quattro_tiptronic,privat,Angebot,12500,control,kombi,2007,automatik,232,a6,150000,3,diesel,audi,ja,2016-03-25 00:00:00,0,23909,2016-04-07 06:17:18
371457,2016-03-12 08:37:15,Chevy_Van_4x4_Allrad_H_Nummer,privat,Angebot,5990,control,bus,1984,automatik,0,andere,70000,4,benzin,chevrolet,NaN,2016-03-12 00:00:00,0,87600,2016-03-24 23:47:48
371458,2016-04-01 17:57:49,Volvo_XC_90_D5_Momentum_7_Sitze_2006,privat,Angebot,9900,test,suv,2006,manuell,185,xc_reihe,150000,5,diesel,volvo,nein,2016-04-01 00:00:00,0,85375,2016-04-05 13:45:03
371461,2016-04-02 23:25:40,Audi_A6_Avant_3.0_TDI_DPF_quattro_tiptronic,privat,Angebot,16999,control,kombi,2008,automatik,269,a6,150000,7,diesel,audi,nein,2016-04-02 00:00:00,0,61440,2016-04-06 15:17:04
371462,2016-03-15 22:49:39,BMW_520d_touring,privat,Angebot,5390,control,kombi,2001,manuell,136,5er,150000,8,diesel,bmw,nein,2016-03-15 00:00:00,0,47228,2016-04-07 09:45:33
371467,2016-03-19 14:44:39,Kia_Ceed_1.6_CVVT_SW_spirit_ISG,privat,Angebot,6750,test,kombi,2009,manuell,126,ceed,70000,8,benzin,kia,nein,2016-03-19 00:00:00,0,44805,2016-03-25 16:51:16
371472,2016-03-19 19:44:29,Seat_Ibiza_1_4__16V,privat,Angebot,5990,control,kleinwagen,2009,manuell,86,ibiza,90000,6,benzin,seat,nein,2016-03-19 00:00:00,0,51371,2016-03-24 15:17:52
371474,2016-03-25 17:48:10,BMW_118i_Sport_Line,privat,Angebot,19800,test,limousine,2011,manuell,170,1er,80000,12,benzin,bmw,nein,2016-03-25 00:00:00,0,41460,2016-04-06 22:47:12
371476,2016-03-15 13:52:34,ALPINA_D3_Touring,privat,Angebot,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja,2016-03-15 00:00:00,0,91186,2016-03-17 08:16:25
371477,2016-03-07 16:50:15,BMW_525d_Touring_Sport_Aut.,privat,Angebot,23900,control,kombi,2011,automatik,204,5er,150000,7,diesel,bmw,nein,2016-03-07 00:00:00,0,85376,2016-03-21 06:18:39
371481,2016-03-12 16:48:14,PORSCHE_944_S2_CABRIO_1991_3_0_211PS_ANTHAZIT/...,privat,Angebot,12800,control,cabrio,1991,manuell,211,andere,150000,7,benzin,porsche,nein,2016-03-12 00:00:00,0,21147,2016-04-07 06:46:00
371483,2016-03-07 09:54:08,Mercedes_Benz_E_200_CDI_DPF_BlueEFFICIENCY_7G_...,privat,Angebot,20500,control,limousine,2012,automatik,136,e_klasse,60000,4,diesel,mercedes_benz,nein,2016-03-07 00:00:00,0,77694,2016-04-06 22:15:49
371489,2016-03-13 15:45:22,Mercedes_B_150_Special_Edition_Sport_Paket,privat,Angebot,7900,test,bus,2007,manuell,0,b_klasse,125000,1,benzin,mercedes_benz,nein,2016-03-13 00:00:00,0,30519,2016-03-27 00:18:05
371490,2016-03-22 10:37:54,Honda_Accord_Tourer_2.0_Lifestyle_Verhandlungs...,privat,Angebot,13850,control,kombi,2012,manuell,156,accord,125000,10,benzin,honda,nein,2016-03-22 00:00:00,0,91301,2016-04-05 23:17:04
371494,2016-03-26 14:38:18,BMW_760_erst_110_000_km_letze_Chance_bis_Monta...,privat,Angebot,11500,control,limousine,2004,automatik,445,7er,125000,0,benzin,bmw,NaN,2016-03-26 00:00:00,0,4107,2016-04-06 20:45:16
371500,2016-03-21 23:40:49,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,privat,Angebot,20400,test,limousine,2014,automatik,150,golf,30000,9,benzin,volkswagen,nein,2016-03-21 00:00:00,0,38470,2016-04-07 04:17:32
371506,2016-03-20 18:47:59,Volkswagen_Golf_1.9_TDI_DPF_Goal_Rentnerfzg._1...,privat,Angebot,5900,test,limousine,2006,manuell,105,golf,150000,9,diesel,volkswagen,nein,2016-03-20 00:00:00,0,1217,2016-04-07 02:44:27
371507,2016-03-16 17:06:19,Gepflegter_Audi_a4_2.0tdi_xenon_ahk_klima_sche...,privat,Angebot,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN,2016-03-16 00:00:00,0,56472,2016-03-18 11:30:17
371510,2016-03-06 21:11:23,Mercedes_benz_e_klasse_avangarde_220_cdi_grune...,privat,Angebot,6500,test,limousine,2003,automatik,145,e_klasse,150000,3,diesel,mercedes_benz,nein,2016-03-05 00:00:00,0,60437,2016-03-12 12:18:05
371517,2016-03-28 13:48:07,Volkswagen_Golf_2.0_TDI_DPF_Team,privat,Angebot,7900,test,limousine,2010,manuell,140,golf,150000,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20
371519,2016-03-09 13:37:43,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,privat,Angebot,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [21]:
X['price'] < 5000

0          True
1         False
2         False
3          True
4          True
5          True
6          True
7          True
8         False
9          True
10         True
11         True
12         True
13         True
14        False
15         True
16         True
17         True
18        False
19         True
20        False
21         True
22         True
23         True
24         True
25         True
26        False
27        False
28         True
29         True
          ...
371498     True
371499     True
371500    False
371501     True
371502     True
371503     True
371504     True
371505     True
371506    False
371507    False
371508     True
371509     True
371510    False
371511     True
371512    False
371513     True
371514     True
371515     True
371516     True
371517    False
371518     True
371519    False
371520     True
371521     True
371522     True
371523     True
371524     True
371525    False
371526     True
371527    False
Name: price, Length: 371528, dtype: bool