## Daten visualisieren mit Histogramme

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

In [2]:
X = pd.read_csv('autos_stripped.csv', header=0, index_col=0, encoding='ISO-8859-1')
X.head()

,seller,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,dateCreated,postalCode
0,privat,480,NaN,1993,manuell,0,golf,150000,benzin,volkswagen,2016-03-24 00:00:00,70435
1,privat,18300,coupe,2011,manuell,190,NaN,125000,diesel,audi,2016-03-24 00:00:00,66954
2,privat,9800,suv,2004,automatik,163,grand,125000,diesel,jeep,2016-03-14 00:00:00,90480
3,privat,1500,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,2016-03-17 00:00:00,91074
4,privat,3600,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,2016-03-31 00:00:00,60437